<h1 *ngIf="isAddMode">Dodaj użytkownika</h1>
<h1 *ngIf="!isAddMode">Edytuj użytkownika</h1>
<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <mat-form-field>
          <input matInput type="email" id="email" placeholder="Email" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email jest wymagana</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group col">
        <!--        <p *ngIf="!isAddMode">Zostaw jeśli chcesz zachować takie samo hasło</p>-->
        <mat-form-field>
          <input matInput type="password" id="password" placeholder="Hasło" formControlName="password"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="f.password.errors.minlength">Hasło powinno mieć przynajmniej 6 liter</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Zapisz
      </button>
      <a routerLink="/users" class="btn btn-link">Anuluj</a>
    </div>
  </form>
</div>
