<div class="card">
  <h4 class="card-header">Nowa ankieta</h4>
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nazwa ankiety</label>
        <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">To pole jest wymagane</div>
        </div>
      </div>
      <div class="form-group">
        <label>Opis</label>
        <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"/>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">To pole jest wymaganey</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group">
          <label>Do kiedy</label>
          <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #basicDatepicker></mat-datepicker>
          <input type="text" formControlName="dueDate" [matDatepicker]="basicDatepicker" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }">
          <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
            <div *ngIf="f.dueDate.errors.required">To pole jest wymaganey</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Użytkownicy</label>
        <input type="text" formControlName="users" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.users.errors }"/>
        <div *ngIf="submitted && f.users.errors" class="invalid-feedback">
          <div *ngIf="f.users.errors.required">To pole jest wymaganey</div>
        </div>
      </div>

      <div formArrayName="questions">
        <div class="form-group card" *ngFor="let question of getQuestions().controls; let i=index" [formGroupName]="i">
          <div class="row card-header" style="margin: 0;">
            <div class="align-self-center">
              <span>Pytanie {{i+1}}</span>
            </div>
            <div style="flex-grow: 1;">
              <button type="button" class="btn btn-danger float-right" style="text-align: right" (click)="deleteQuestion(i)">Usuń</button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Typ pytania</label>
              <select class='form-control' formControlName="type" (change)="onTypeChange(i, $event.target.value)">
                <option *ngFor="let type of types" [value]="type">
                  {{type}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Treść pytania</label>
              <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && question.get('description').errors }">
              <div *ngIf="question.get('description').errors" class="invalid-feedback">
                <div *ngIf="question.get('description').errors.required" >To pole jest wymaganey</div>
              </div>
            </div>
            <div *ngIf="isClosedQuestion(i)">
              <div formArrayName="choices" *ngFor="let choice of getChoices(i).controls; let j=index">
                <div class="form-group">
                  <div class="row" style="margin: 0;">
                    <div class="align-self-center">
                      <span>Odpowiedź {{j+1}}</span>
                    </div>
                    <div style="flex-grow: 1;">
                      <button class="btn btn-danger float-right" style="text-align: right" (click)="deleteChoice(i, j)">Usuń</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" [formControlName]="j" class="form-control" [ngClass]="{ 'is-invalid': submitted && choice.errors }">
                    <div *ngIf="choice.errors" class="invalid-feedback">
                      <div *ngIf="choice.errors.required" >To pole jest wymaganey</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="button" [disabled]="loading" class="btn btn-primary" (click)="addChoice(i)">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Dodaj odpowiedź
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" [disabled]="loading" class="btn btn-primary" (click)="addQuestion()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Dodaj pytanie
          </button>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Utwórz
        </button>
      </div>
    </form>
  </div>
</div>