<div *ngIf="userSurvey">
  <h2 class="mat-accent">{{userSurvey.survey.name | uppercase}}</h2>
  <h3>{{userSurvey.survey.description}}</h3>
  <br/>
  <mat-grid-list cols="2" rowHeight="20:1">
    <mat-grid-tile>
      Wygaśnie w dniu: {{userSurvey.survey.dueDate.slice(0, 10)}}
    </mat-grid-tile>
    <mat-grid-tile>
      <p *ngIf="userSurvey.survey.public; else elseBlock">Ankieta jest publiczna</p>
      <ng-template #elseBlock>
        <p>Ankieta jest prywatna ale jest dostępna dla Ciebie!</p>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div *ngFor="let question of userSurvey.survey.questions">
      <mat-card style="background-color:#ddd;">
        <div style="display:flex; justify-content:center;">
          <h4 class="mat-accent">Pytanie {{question.sortOrder}}</h4>
        </div>
        <h4>{{question.description}}</h4>
        <div>
          <mat-card-content>
            <div *ngIf="question.type === 'text'">
              <mat-form-field class="full-field">
                <input matInput type="text" placeholder="Twoja odpowiedź" formControlName="value" class="form-control">
              </mat-form-field>
            </div>

            <div *ngIf="question.type == 'date'">
              <mat-form-field appearance="fill">
                <mat-label>Wybierz datę</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div *ngIf="question.type === 'singleChoice'">
              <div *ngFor="let choice of question.choices">
                <div class="form-check">
                  <input type="radio" class="form-check-input with-gap" id="radioGap1" name="groupOfRadioGap">
                  <label class="form-check-label" for="radioGap1">{{choice.value}}</label>
                </div>
              </div>
            </div>

            <div *ngIf="question.type === 'multipleChoice'">
              <div *ngFor="let choice of question['choices']">
                <mat-checkbox>{{choice.value}}</mat-checkbox>
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
      <br/>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="goBack()">Wyślij ankietę!</button>
    </div>
  </form>

  <button mat-stroked-button (click)="goBack()">Wróć</button>
</div>









