<h1>Ankiety</h1>
<a routerLink="create">
  <button mat-raised-button color="primary">Dodaj ankietę</button>
</a>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let survey of surveys">
      <mat-card class="survey mat-elevation-z4">
        <mat-card-header class="mat-typography">
          <mat-card-title class="mat-title">{{survey.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/survey-default.png" alt="Domyślne zdjęcie ankiety">
        <mat-card-content>
          <p>{{survey.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="fill/{{survey.id}}">
            <button mat-raised-button color="accent">WYPEŁNIJ</button>
          </a>
          <button mat-button>RAPORT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
