<h1>Ankiety</h1>
<a routerLink="add"><button mat-raised-button color="primary">Dodaj ankietę</button></a>
<div fxLayout="row">
  <mat-card class="survey" *ngFor="let survey of surveys" fxFlex.lg="10" fxFlex.lt-lg="25" fxFlex.xs="50">
    <mat-card-header class="mat-typography">
      <mat-card-title>
        <div class="mat-title">{{survey.name}}</div>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/survey-default.png" alt="Domyślne zdjęcie ankiety">
    <mat-card-content>
      <p>{{survey.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>WYPEŁNIJ</button>
    </mat-card-actions>
  </mat-card>
</div>
