<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="favicon.ico" alt="logo">
    <h1>nkietApp</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/surveys'"> Ankiety </a>
      <a mat-button [routerLink]="'/surveys/create'"> Dodaj ankietę </a>
      <a mat-button [routerLink]="'/users'"> Użytkownicy </a>
      <a mat-button [routerLink]="'/users/add'"> Dodaj użytkownika </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4" style="background-color: cornflowerblue">
  <p>
    AnkietApp - wypełniaj ankiety twojego uniwersytetu!
  </p>
  <p>Konrad Wenc</p>
  <p>Michał Sochacki</p>
  <p>Kamil Złotek</p>
  <p>Mateusz Wojtoń</p>
  <p>Krystian Kałwik</p>
</div>
