<div fxLayout="row">
  <mat-card class="survey" *ngFor="let survey of surveys" fxFlex.lg="33" fxFlex.lt-lg="50" fxFlex.xs="100">
    <mat-card-header class="mat-typography">
      <mat-card-title>
        <div class="mat-title">{{survey.name}}</div>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/survey-default.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{survey.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>WYPEŁNIJ</button>
    </mat-card-actions>
  </mat-card>
</div>
