<div class="p-4">
  <div class="container">
    <h1>Jak ci mija dzień?</h1>

    <div class="content">
      <div fxLayout="row" fxLayoutGap="16px grid" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
        <a routerLink="/surveys" routerLinkActive="active">
          <mat-card class="mat-elevation-z4">
            <mat-card-header class="mat-typography">
              <mat-card-title class="mat-title">Ankiety</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/img/survey-default.png" alt="Domyślne zdjęcie ankiety">
            <mat-card-content>
              <p>Wypełniaj ankiety naszego uniwersytetu!</p>
            </mat-card-content>
          </mat-card>
        </a>

        <a routerLink="/users" routerLinkActive="active">
          <mat-card class="mat-elevation-z4">
            <mat-card-header class="mat-typography">
              <mat-card-title class="mat-title">Użytkownicy</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/img/user_manage.jpg" alt="Zarządzanie użytkownikami">
            <mat-card-content>
              <p>Dodawaj i zarządzaj użytkownikami naszej aplikacji!</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
