<h3 class="card-header">Login</h3>
<div class="card-body">

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field>
      <input matInput type="email" id="email" placeholder="Email" formControlName="email" required>
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput type="password" id="password" placeholder="Hasło" formControlName="password" required>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="login()">LOGIN
      </button>
    </div>

    <a routerLink="../register" class="btn btn-link">Rejestracja</a>

    <div class="form-group col text-right">
      <a routerLink="../forgot-password" class="btn btn-link pr-0">Zapomniałeś hasła?</a>
    </div>

  </form>
</div>
